<br>
<% if flash[:message] %>
  <li><%= flash[:message] %></li>
  <br>
<% end %>

<%= form_for (@sent_request) do |f| %>
  <h2> Send Request to:</h2>
    <br>
    <h3><%= f.collection_select :user_id, @users, :id, :full_name %></h3>
    <br>

  <h3><%= f.submit "Send 😊"%></h3>
<% end %>
