<h2><%= @user.first_name %>'s Profile</h2>
<br>
<h3> Mod: <%= @user.mod %> </h3>
<h3>Hobbies: <%= @user.hobbies %> </h3>
<br>
<button type="button" class="btn btn-outline-primary">
  <%= link_to "View all profiles", users_path %>
</button>
